footer {
    background-color: black;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer h3 {
    font-weight: bold;
}

#footer-main {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr; 
    width: 80em;
    margin: 0 auto;
    padding: 5em 0;
}

#footer-logo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2rem;
}

#footer-aboutus-parent {
    display: flex;
    justify-content: center;
}

#footer-aboutus-childs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#footer-contactus {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 3rem;
}

#footer-icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap:1rem;
}

#footer-icons i {
    background-color: white;
    color: black;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0.8rem;
}

